ForceType text/plain
AddDescription "trivial Ethernet example" Ethernet
AddDescription "example with 3 Ethernet interfaces, a bridge and a GRE tunnel" Ethernet-bridge-GRE
AddDescription "PPP configuration examples" PPP
AddDescription "fragment of QoS setup for an internet cafe" QoS-CBQ-internet-cafe
AddDescription "HTB/SFQ QoS example" QoS-HTB-SFQ-256kbit
AddDescription "HTB user guide example port" QoS-HTB-user-guide
AddDescription "simple VLAN configuration" VLAN-without-vlantab
AddDescription "wireless example for IPW2100 card in WEP mode" WiFi-WEP-wpa2100
AddDescription "iptables example by hiddenman" firewall-hiddenman
AddDescription "Complex example (without QoS) by hiddenman" Complex-without-QoS
AddDescription "LARTC multiple links example port" routing-LARTC-1
AddDescription "dummy interfaces configuration" dummy
AddDescription "Initial ADSL-Bandwidth-HOWTO implementation" ADSL-Bandwidth-HOWTO

