ForceType text/plain
AddDescription "PPP configuration examples" PPP
AddDescription "wireless configuration examples" WiFi
AddDescription "QoS (traffic control) examples" WiFi
AddDescription "HTB configuration example" qos-htb
AddDescription "HTB/SFQ QoS example" qos-raorn
AddDescription "trivial example" ifaces-simple
AddDescription "PPP examples" ifaces-ppp
AddDescription "some more complex example" ifaces-3ethers
AddDescription "VLAN config example" ifaces-vlan
AddDescription "wireless config example" ifaces-wireless
AddDescription "/etc/net config for LARTC multiple links example" routing-LARTC-1
AddDescription "fragment of QoS setup for an internet cafe" qos-cafe
AddDescription "/etc/net firewall (iptables) setup example" fw-iptables
